{% extends "::base.html.twig" %}

{% block title %}IgnithoAdminBundle:Welcome:frontPage{% endblock %}

{% block body %}
<h1>Welcome to the Welcome:frontPage page</h1>
    <a href="{{ path('ignitho.admin.login') }}">login</a>
    <a href="{{ path('ignitho.admin.register') }}">register</a>
{% endblock %}
