{% extends "::base.html.twig" %}

{% block title %}IgnithoAdminBundle:Admin:home{% endblock %}

{% block body %}
<h1>Welcome to the Admin:home page</h1>
    <a href="{{ path('logout') }}">logout</a>
{% endblock %}
