{% extends "IgnithoAdminBundle:Layout:loginLayout.html.twig" %}

{% block title %}IgnithoAdminBundle:Admin:home{% endblock %}

{% block content %}
    <h1>Welcome to the Admin:home page</h1>
{% endblock %}
